<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357111610315-su1gruoo29961i1aepeomdfln5t7er2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357111610315-su1gruoo29961i1aepeomdfln5t7er2h</string>
	<key>API_KEY</key>
	<string>AIzaSyCWFik62qgS2iJpsYitd07PZFMfeLs7ox0</string>
	<key>GCM_SENDER_ID</key>
	<string>357111610315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gun.MC3-Running</string>
	<key>PROJECT_ID</key>
	<string>ppoint-d70d9</string>
	<key>STORAGE_BUCKET</key>
	<string>ppoint-d70d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357111610315:ios:005ebb6999a7dfec</string>
	<key>DATABASE_URL</key>
	<string>https://ppoint-d70d9.firebaseio.com</string>
</dict>
</plist>